<div class="bidding-detail-wrapper">
<main id="main-content" class="position-relative">
  <div class="inner-gap">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="bidding-history">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Item List</th>
                    <th>Last Bid</th>
                    <th>Opening Bid</th>
                    <th>Left Time</th>
                    <th>Total Bids</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of auctionItemsByid">
                    <td>
                      <div class="d-flex align-items-center gap-2">
                        <img
                          src="assets/images/product-card-img.png"
                          class="dashboard-avatar"
                          alt="bider-avatar"
                        />
                        <div>
                          <h6>{{ item.categorie }}</h6>
                          <span class="fs-14">{{ item.description }}</span>
                        </div>
                      </div>
                    </td>
                    <td>${{ item.prixactuelle }}</td>
                    <td>${{ item.prixinit }}</td>
                    <td>
                      {{item.remainingDays}} day
                    </td>
                    <td>
                        {{item.nbbids}}
                    </td>
                    <td>
                      <button class="primary-btn small-btn">View More</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center mt-4 mt-md-5">
              <button class="primary-btn">Load More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
